bin/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
.project
.classpath
.settings/
.idea
*/bin/
*/target/
*/pom.xml.tag
*/pom.xml.releaseBackup
*/pom.xml.versionsBackup
*/pom.xml.next
*/release.properties
*/.project
*/.classpath
*/.settings/
*/.idea
**/*.iml
**/.DS_Store
/.DS_Store
